
// Status Bar
// -------------------

// Located at the bottom.
// Displays information about the current editor.
// Overrides: atom/status-bar

.status-bar {
  font-size: @font-size;
  color: #fff;
  font-weight: bold;
  border-top: 1px solid @base-border-color;
  background-color: #00B892;
  a{
    color: #fff;
    &:hover{
      color: @text-color-selected;
    }
  }
}
